.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-color-40op: rgb(255 0 112 / 0.4);
  --header-color: #DB00FF;
  --decor-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .section__title {
  color: var(--accent-color);
}

.page.theme_dark.header__decorator {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --accent-color-40op: rgb(255 0 112 / 0.4);
    --header-color: #DB00FF;
    --decor-color: #FF0070;
    --bg-image: url(../images/cover-image-dark.png);
  }

  .section__title {
    color: var(--accent-color);
  }

  .theme_auto .header__decorator {
    display: flex;
  }
}