.page.theme_light {
  --bg-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-40op: rgba(50, 49, 45, 0.4);
  --header-color: #ffc2e6;
  --decor-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --header-decorator-display: none;
}

.page.theme_light .section__title {
  color: var(--text-color, #353430);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-40op: rgba(50, 49, 45, 0.4);
    --header-color: #ffc2e6;
    --decor-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --header-decorator-display: none;
  }

  .section__title {
    color: var(--text-color, #353430);
  }
}
